<div class="card card-primary">
    <div class="card-header">
        <div class="header-block">
            <p class="title text-white"> USER ID :
                <%- data.id %>
            </p>
        </div>
    </div>
    <div class="card-block">
        <p><span class="font-weight-bold">Email</span> : <%- data.email %>
        </p>
        <p><span class="font-weight-bold">Status</span> :
            <% if(_.isEmpty(data.user_data)){ %>
                <button class="btn btn-light text-dark border border-dark rounded" type="button"><i
                        class="fa fa-times-circle-o text-danger"></i> Not
                    Verified</button>
                <% }else{ %>
                    <button class="btn btn-light text-dark border border-dark rounded" type="button"><i
                            class="fa fa-check-circle-o text-success"></i> Verified</button>
                    <% } %>
        </p>
        <div class="dropdown-divider"></div>
        <ul class="nav nav-tabs nav-tabs-bordered">
            <li class="nav-item">
                <a href="#home" class="nav-link active" data-target="#home" data-toggle="tab" aria-controls="home"
                    role="tab" aria-selected="true">
                    Personal Data
                </a>
            </li>
            <li class="nav-item">
                <a href="#profile" class="nav-link" data-target="#profile" aria-controls="profile" data-toggle="tab"
                    role="tab" aria-selected="false">
                    Attendance Data
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" data-target="#messages" aria-controls="messages" data-toggle="tab"
                    role="tab" aria-selected="false">Messages</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link" data-target="#settings" aria-controls="settings" data-toggle="tab"
                    role="tab" aria-selected="false">Settings</a>
            </li>
        </ul>

        <div class="tab-content tabs-bordered">
            <div class="tab-pane fade in active show" id="home">
                <%- include('components/Personalform'); %>
            </div>
            <div class="tab-pane fade" id="profile">
                <%- include('components/Attendanceform'); %>
            </div>
            <div class="tab-pane fade" id="messages">
                <h4>Messages Tab</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="tab-pane fade" id="settings">
                <h4>Settings Tab</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>

    </div>
</div>
<%- include('../common/basicmodal'); %>