<% let filterDivision=data.user_data.division_data ? data.user_data.division_data : "CEO" ; %>
    <% let offdays=data.user_data.division_data ? data.user_data.division_data.offdays : [] ; %>
        <form id="form2" role="form">
            <div class="row">
                <div class="form-group col-lg-6">
                    <label>
                        Division
                    </label>
                    <select style="width: 100%;" class="js-example-basic-single1" name="division">
                        <% _.map(divisionData, (e)=> { %>
                            <option value="<%= e.name %>" <% if(e.name===filterDivision.division){ %>
                                selected
                                <% } %>
                                    >
                                    <%= e.name %>
                            </option>
                            <% } ); %>
                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <label>
                        Rank
                    </label>
                    <select style="width: 100%;" class="js-example-basic-single2" name="rank">
                        <% let filteredDivision=_.filter(divisionData, (e)=> { return e.name
                            ===filterDivision.division}); %>
                            <% _.map(filteredDivision[0].rank, (e)=> { %>
                                <option value="<%= e %>" <% if(e===filterDivision.rank){ %>
                                    selected
                                    <% } %>
                                        >
                                        <%= e %>
                                </option>
                                <% } ); %>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label>Off Days ( <%= getNameOfDay(offdays) %>)</label>
                    <select style="width: 100%;" class="js-example-basic-multiple" name="offdays[]" multiple="multiple"
                        required>
                        <% _.map(offDayData, (e)=> { %>
                            <option value="<%= e.number %>">
                                <%= e.name %>
                            </option>
                            <% } ); %>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-4 col">Submit</button>
        </form>
        <script dataScript="<%= JSON.stringify(divisionData) %>" src="js/pages/home/divisiondata/submit.js"></script>